﻿@{
    ViewBag.Title = "NuGetFight - About Us";
    ViewBag.CatchPhrase = "Your unofficial NuGet Fight hangout!";
}

<h2>What is the point of this website?</h2>

<p>
     If you're a heavy <a href="http://nuget.org" title="nuget">NuGet</a>/
     <a href="http://chocolatey.org" title="chocolatey">Chocolatey</a>/
     <a href="http://myget.org" title="myget">MyGet</a>
     user and you're in doubt between two packages/applications,
     you can come here and make them fight to see which one has the most potential.
     NuGet/Chocolatey/MyGet Fight uses the number of packages and downloads to see which has the highest adoption rate.
</p>

<h2>How does it work?</h2>

<p>
    We query the NuGet OData feed to get the number of packages and the number of total downloads for the packages.
    The formula we use to get the winner is (packages / download) + downloads.
    This greatly benefits popular queries.
    Usually the most popular packages also have the biggest community.
    If you want to learn more about the inner workings of NuGetFight you can always read up on it in these 2 blog posts:
</p>
<ul>
    <li><a href="http://koenmetsu.com/2012/06/01/nugetfight-my-first-oss-out-in-the-open">Koen Metsu - NuGetFight: My first OSS out in the open</a></li>
    <li><a href="http://kevinpelgrims.com/blog/2012/05/21/introducing-nugetfight">Kevin Pelgrims - Introducing NuGetFight</a></li>
</ul>

<h2>I have some suggestions...</h2>

<p>
    That's great! Check out the code on <a href="https://bitbucket.org/kevinpelgrims/nugetfight/" title="bitbucket/nugetfight">BitBucket</a>.
    We would love to get some pull requests and see the project grow.
    If you want to talk to us about new features, cool ideas or how awesome NuGet Fight is: we're on Twitter!
</p>

<h2>Who made this?</h2>

<div class="profile">
    @Html.Gravatar("kevin.pelgrims@gmail.com", 80, new { Title = "Kevin's Gravatar", Alt = "Gravatar", Class = "gravatar" })
    <ul>
        <li><a href="http://twitter.com/kevinpelgrims">@@kevinpelgrims</a></li>
        <li><a href="http://kevinpelgrims.com/blog/">kevinpelgrims.com</a></li>
    </ul>
</div>

<div class="profile">
    @Html.Gravatar("koen.metsu@gmail.com", 80, new { Title = "Koen's Gravatar", Alt = "Gravatar", Class = "gravatar" })
    <ul>
        <li><a href="http://twitter.com/koenmetsu">@@koenmetsu</a></li>
        <li><a href="http://koenmetsu.com/">koenmetsu.com</a></li>
    </ul>
</div>