﻿@{
    ViewBag.Title = "NuGet Fight - Disclaimer";
    ViewBag.CatchPhrase = "Your unofficial NuGet Fight hangout!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Disclaimer</h1>

<ul>
    <li>Each package is licensed to you by its owner.</li>
    <li>NuGet Fight and its contributors are not responsible for, nor do they grant any licenses to, third-party packages.</li>
</ul>