﻿@model NuGetFight.ViewModels.FightModel
@{
    ViewBag.Title = "NuGet Fight - It's on";
    ViewBag.CatchPhrase = "Your unofficial NuGet Fight hangout!";
}

<script type="text/javascript" language="javascript">
    $(document).ready(function() {
        var data = new Array(2);
        data[0] = new BarData("@Model.Query1.Name", @Model.Query1.PackageCount);
        data[1] = new BarData("@Model.Query2.Name", @Model.Query2.PackageCount);

        drawChart(data, 'fightPackages', '#00acb2', '#04cc68');


        var data = new Array(2);
        data[0] = new BarData("@Model.Query1.Name", @Model.Query1.DownloadCount);
        data[1] = new BarData("@Model.Query2.Name", @Model.Query2.DownloadCount);

        drawChart(data, 'fightDownloads', '#00acb2', '#04cc68');
        
        SetSymbolSourceLinks();
    });
</script>

<h1>I challenge you to a duel!</h1>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.Partial(@"EditorTemplates/FightInputModel", Model.FightInput)
}

<h2>@Model.ResultMessage</h2>
@if (Model.Query1.PackageCount <= 0 && Model.Query2.PackageCount <= 0)
{
<p>Are you sure those are real package names?</p>
}
else
{
<div class="result-container">
    <div class="result-row">
        <div class="result" id="first-result">
            <p>Packages: <span class="boldme">@Model.Query1.PackageCount</span> VS <span class="boldme">@Model.Query2.PackageCount</span></p>
            <canvas id="fightPackages" width="400" height="300"></canvas>
        </div>
        <div class="result">
            <p>Downloads: <span class="boldme">@Model.Query1.DownloadCount</span> VS <span class="boldme">@Model.Query2.DownloadCount</span></p>
            <canvas id="fightDownloads" width=" 400" height="300"></canvas>
        </div>
    </div>
    
    <div class="result-row">
        @if (Model.Query1.PackageCount > 0)
        { @Html.DisplayFor(m => m.Query1, "TopPackages") }
        @if (Model.Query2.PackageCount > 0)
        { @Html.DisplayFor(m => m.Query2, "TopPackages") }
    </div>
</div>
}