﻿@model NuGetFight.ViewModels.FightInputModel
@{
    ViewBag.Title = "NuGet Fight";
    ViewBag.CatchPhrase = "Your unofficial NuGet Fight hangout!";
}
<h1>I challenge you to a duel!</h1>
<p>Can't decide which library/tool to use via NuGet? Let NuGet Fight sort it out for you!</p>

@using (Html.BeginForm("Index", "Home", FormMethod.Post)) 
{
    @Html.EditorForModel()
}