﻿@model NuGetFight.ViewModels.FightInputModel
@{
    ViewBag.Title = "Chocolatey Fight";
    ViewBag.CatchPhrase = "Your unofficial Chocolatey Fight hangout!";
}

@section ExtraStylesheets {
    <link href="@Url.Content("~/Content/Styles/Site.choco.less")" rel="stylesheet" type="text/css" />
}

<h1>I challenge you to a duel!</h1>
<p>Can't decide which application to install from Chocolatey? Let Chocolatey Fight sort it out for you!</p>

@using (Html.BeginForm("Index", "Chocolatey", FormMethod.Post))
{
    @Html.EditorForModel()
}