﻿header, section, section#main, footer
{
    padding: 0;
}
    
header, section
{
    text-align: center;
}
    
nav
{
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
    
nav a
{
    display: block;
    float: none;
    width: 100%;
    margin: 0;
    padding: 10px 0;
	border-radius: 0;
}
    
div.competitor
{
    display: block;
    float: none;
    margin: 0;
    margin-bottom: 10px;
}

div.result-container
{
	margin: auto;
	padding-left: 1%;
	text-align: left;
}

div.result-row
{
	display: block;
	margin: auto;
}

div.result
{
	display: block;
    margin: 5px auto;
}

div.result canvas
{
	margin-left: -5px;
}
    
footer
{
    padding-bottom: 5px;
}

footer > p
{
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
}