﻿@main_color_light: #404040;
@main_color_dark: #008000;
@main_text_color: #ffffff;
@nuanced_text_color: #eeeeee;
@main_error_color: #cd0a0a;

header, footer
{
    background-color: @main_color_light;
    color: @main_text_color;
}

header
{
    border-bottom-color: @main_color_dark;
}

footer
{
    border-top-color: @main_color_dark;
}

header h1
{
	background-image: url(../../Content/Images/mygetfightlogo.png);
}

nav a
{
    background: @main_color_dark;
    color: @nuanced_text_color;
}

footer a
{
    color: @main_text_color;
}

nav a:hover, nav a:visited, footer a:hover, footer a:visited
{
    color: @nuanced_text_color;
}

div.competitor input
{
	border-color: @main_color_dark;
}

.ui-state-error-text
{
	color: @main_error_color;	
}

input#fight
{
    background-color: @main_color_light;
    border-color: @main_color_dark;
    color: @main_text_color;
}

section.topresults-info table
{
    border-color: @main_color_light;
}

section.topresults-info table th
{
	background-color: @main_color_light;
	color: @main_text_color;
}

div.profile a, div.profile a:visited
{
    color: @main_color_light;
}

div.profile a:hover
{
    color: @main_color_dark;
}

footer > p
{
	color: @nuanced_text_color;
}