﻿@main_color_light: #52a3ca;
@main_color_dark: #05005f;
@main_text_color: #ffffff;
@nuanced_text_color: #eeeeee;
@main_error_color: #cd0a0a;

@max_page_width: 820px;
@page_padding_left: 5%;

html, body
{
	height: 100%;
}

body
{
    font-size: 1em;
    font-family: "Segoe UI", "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
} 

header,
footer,
nav,
section
{
    display: block;
}

header, footer
{
    background-color: @main_color_light;
    color: @main_text_color;
}

div.wrapper
{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -63px auto;
}

header
{
    padding: 0 @page_padding_left;
    border-bottom: 5px solid @main_color_dark;
    -webkit-box-shadow: 0 5px 10px #aaaaaa;
    -moz-box-shadow: 0 5px 10px #aaaaaa;
    box-shadow: 0 5px 10px #aaaaaa;
}

header > div
{
	max-width: @max_page_width;
}

section#main
{
    max-width: @max_page_width;
	padding-left: @page_padding_left;
}

div#push
{
	height: 63px;
}

footer
{
	height: 30px;
    margin-top: 20px;
    padding: 5px @page_padding_left;
    border-top: 3px solid @main_color_dark;
}

header h1
{
    display: block;
	width: 370px;
	height: 75px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	background: url(../../Content/Images/nugetfightlogo.png) no-repeat;
	background-position: bottom;
	text-indent: -9999px;
    font-size: 2em;
}

header h2
{
	display: inline-block;
	width: 325px;
	margin: 0 0 10px 20px;
	font-size: 16px;
}

nav
{
	display: inline-block;
	float: right;
}

nav ul
{
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

nav li
{
    display: inline;
}

nav li:first-child
{
    margin-left: 0;
}

nav li:last-child
{
	margin-left: 10px;
    margin-right: 0;
}

nav a
{
    display: inline-block;
    margin: -4px 0px;
    padding: 7px 10px;
    background-color: @main_color_dark;
    color: @nuanced_text_color;
    text-align: center;
    text-decoration: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-weight: bold;
}

footer a
{
    color: @main_text_color;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover, nav a:visited, footer a:hover, footer a:visited
{
    color: @nuanced_text_color;
}

nav a:hover, footer a:hover
{
    text-decoration: underline;
}

div.competitor
{
    display: inline-block;
}

div.feed-name
{
    margin-top: 10px;
}

div.competitor input,
div.feed-name input
{
	border: 1px solid @main_color_dark;
	border-radius: 4px;
	padding: 2px 5px;
}

div.feed-name input
{
	width: 192px;
}

.ui-state-error-text
{
	color: @main_error_color;	
}

input#fight
{
    background-color: @main_color_light;
    border: 1px solid @main_color_dark;
	border-radius: 4px;
	margin-left: 5px;
    padding: 3px 20px;
    color: @main_text_color;
    font-weight: bolder;
	cursor: pointer;
}

div#most-popular
{
	margin-top: 15px;
	font-size: 13px;
	font-style: italic;
}

div.result-container
{
	display: table;
    margin-top: -10px;
}

div.result-row
{
	display: table-row;
}

div.result
{
	display: table-cell;
	width: 450px;
}

div.result canvas
{
	margin-left: -20px;
}

div.result > p
{
	margin: 0;
}

.boldme
{
	font-weight: bold;
}

section.topresults-info
{
    display: block;
    width: 400px;
}

section.topresults-info table
{
	width: 100%;
    border: 1px solid @main_color_light;
	border-radius: 4px;
	border-spacing: 0;
}

section.topresults-info table tr
{
	vertical-align: middle;
}

section.topresults-info table th
{
	background-color: @main_color_light;
	color: @main_text_color;
	text-align: left;
	padding: 2px 0 2px 5px;
}

section.topresults-info table td.packagetitle
{
	padding-left: 5px;
	text-align: left;
}

section.topresults-info td.packagetitle a
{
	display: block;
	width: 320px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

section.topresults-info td.projectwebsite,
section.topresults-info td.symbolsource
{
	padding-top: 5px;
	padding-right: 5px;
	text-align: center;
	vertical-align: middle;
}

section.topresults-info td.projectwebsite a img,
section.topresults-info td.symbolsource a img
{
	width: 20px;
	height: 20px;
	border: 0;
}

div.profile
{
    height: 80px;
    padding: 5px 0;
}

div.profile img.gravatar
{
    float: left;
    margin-right: 10px;
}

div.profile ul
{
    list-style-type: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

div.profile ul li
{
    margin-bottom: 5px;
}

div.profile a, div.profile a:visited
{
    color: @main_color_light;
    text-decoration: none;
}

div.profile a:hover
{
    color: @main_color_dark;
    text-decoration: underline;
}

footer > p
{
	max-width: @max_page_width;
	margin-top: 5px;
	font-size: 15px;
	text-align: right;
	color: @nuanced_text_color;
}

footer #disclaimer
{
	display: inline-block;
	margin-left: 25px;
	font-size: 12px;
}

footer #disclaimer a
{
	font-weight: normal;
}