﻿@model NuGetFight.ViewModels.MyGetFightInputModel
@{
    ViewBag.Title = "MyGet Fight";
    ViewBag.CatchPhrase = "Your unofficial MyGet Fight hangout!";
}

@section ExtraStylesheets {
    <link href="@Url.Content("~/Content/Styles/Site.myget.less")" rel="stylesheet" type="text/css" />
}

<h1>I challenge you to a duel!</h1>
<p>Want to figure out which packages in your MyGet feed are the most popular? Let MyGet Fight sort it out for you!</p>

@using (Html.BeginForm("Index", "MyGet", FormMethod.Post))
{
    @Html.EditorForModel()
}