﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/Content/Styles/Site.less")" rel="stylesheet" type="text/css" />
    @RenderSection("ExtraStylesheets", false)
    <link href="@Url.Content("~/Content/Styles/Site.mobile.less")" rel="stylesheet" type="text/css" media="handheld, screen and (max-width: 650px), screen and (max-device-width: 650px)" />
    
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/nugetfight.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/symbolsource.js")" type="text/javascript"></script>
    @if (System.Configuration.ConfigurationManager.AppSettings["loadGAnalytics"] != null
        && Convert.ToBoolean(System.Configuration.ConfigurationManager.AppSettings["loadGAnalytics"]))
    {
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32309592-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    }
</head>
<body>
    <div class="wrapper">
        <header>
            <div>
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.CatchPhrase</h2>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("NuGet Fight", "Index", "Home")</li>
                        <li>@Html.ActionLink("Chocolatey Fight", "Index", "Chocolatey")</li>
                        <li>@Html.ActionLink("MyGet Fight", "Index", "MyGet")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                    </ul>
                </nav>
            </div>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <div id="push"></div>
    </div>
    <footer>
        <p>
            Brought to you by <a href="http://twitter.com/koenmetsu">@@koenmetsu</a> and <a href="http://twitter.com/kevinpelgrims">@@kevinpelgrims</a>
            <span id="disclaimer">@Html.ActionLink("disclaimer", "Disclaimer", "Home")</span>
        </p>
    </footer>
</body>
</html>
