﻿@model NuGetFight.ViewModels.QueryResultModel
<div class="result">
    <section class="topresults-info">
        <table>
            <tr>
                <th colspan="3">Top packages @Model.Name</th>
            </tr>
        @foreach (var package in Model.TopPackages)
        {
            <tr>
                <td class="packagetitle"><a href="@package.GalleryUrl">@package.Title</a></td>
                <td class="projectwebsite">@if (!String.IsNullOrEmpty(package.ProjectUrl))
                    {<a href="@package.ProjectUrl"><img src="@Url.Content("~/Content/Images/link.png")" title="@package.Title project website" alt="@package.Title project website" /></a>}
                </td>
                <td class="symbolsource" data-package-title="@package.Id" data-package-version="@package.Version">
                </td>
            </tr>
        }
        </table>
    </section>
</div>