﻿@model NuGetFight.ViewModels.FightInputModel

    <div>
        <div class="competitor">
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Query1)
            </div>
        </div>
        VS
        <div class="competitor">
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Query2)
            </div>
        </div>
        
        <input id="fight" type="submit" value="FIGHT" />

        <div class="ui-state-error-text">
            @Html.ValidationMessageFor(m => m.Query1)
            @Html.ValidationMessageFor(m => m.Query2)
        </div>
    </div>
    
    @if (Model.SuggestedFights != null && Model.SuggestedFights.Count > 0)
    {
        <div id="most-popular">
            Suggested fights:
            @foreach (NuGetFight.ViewModels.FightSuggestion fight in Model.SuggestedFights)
	        {
                <a href="/@fight.Source/@fight.Query1/@fight.Query2">@fight.Query1 vs @fight.Query2</a>
	        }
        </div>
    }